
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutStdQuery.cshtml";
    //__TIPS__: 
    //下面这行可以定义查询项中是否包含日期查询框，如果查询不需要日期的，可以没注释这句。
    //ViewBag.DateRangeType = new string[] { "创建日期", "修改日期" };
    //系统默认是不允许删除记录的，如果要显示查询界面的删除按钮，就开启这句
    ViewBag.ShowDeleteButton = false;
    ViewBag.ShowChangeStateButton = true;
}
<div id="winMainForm"></div>
<script>
    function btnAddEvent() {
        $('#winMainForm').dialog({
            title: '增加信息',
            width: 670,//窗体边框12,加上内部div的边距20
            height: 400,
            top: 5,
            closed: false,
            cache: false,
            striped: true,
            'dg': $('#cmpDG'),
            @* __TIPS__: 这里是击【增加】窗体时，窗体内容的所在地址，修改控制器即可，最好使用同名，如果用绝地址就用@Url.Action("函数", "控制器")的方式 *@
            href: "ViewFormAdd",
            modal: true,
            onLoad: function () {
            },
            buttons: [
                {
                    id: 'btnForm_OK',
                    text: '保存',
                    iconCls: 'icon-ok',
                },
                {
                text: '取消',
                    iconCls: 'icon-cancel',
                    handler: function (e) {
                        $('#winMainForm').dialog("close");
                    }
                },
            ]
        });
    }

    function btnEditEvent() {
        var selectRow = $('#cmpDG').datagrid("getSelected");
        if (selectRow == null || selectRow == undefined) {
            $.messager.alert({
                icon: 'warning',
                title: '提示',
                msg: '请选择一条要 【编辑】 的记录'
            });
            return;
        }
        $('#winMainForm').dialog({
            title: '修改信息 【' + selectRow.ID+'】',
            width: 670,//窗体边框12,加上内部div的边距20
            height: 400,
            top: 5,
            closed: false,
            cache: false,
            'dg': $('#cmpDG'),
            @* __TIPS__: 这里是击【修改】窗体时，窗体内容的所在地址，修改控制器即可，最好使用同名，如果用绝地址就用@Url.Action("函数", "控制器") 的方式 *@
            href: "ViewFormEdit",
            modal: true,
            onLoad: function () {
                //加载录入项
                $("#OBJECT_ID").val(selectRow.ID);
                $("#cmpMenu").tree({
                    "url": "JsonMenuData?OBJECT_ID=" + selectRow.ID,
                    checkbox: true,
                });
            },
            buttons: [
                {
                    id: 'btnForm_OK',
                    text: '保存',
                    iconCls: 'icon-ok',
                },
                {
                    text: '取消',
                    iconCls: 'icon-cancel',
                    handler: function (e) {
                        $('#winMainForm').dialog("close");
                    }
                },

            ]
        });
    }

    function btnRemoveEvent() {

    }

    function btnDisableEvent() {
        var selectRow = $('#cmpDG').datagrid("getSelected");
        if (selectRow == null || selectRow == undefined) {
            $.messager.alert({
                icon: 'warning',
                title: '提示',
                msg: '请选择一条要 【停用】 的记录'
            });
            return;
        }
        if (selectRow.DISABLED == 1) {
            $.messager.alert({
                icon: 'warning',
                title: '提示',
                msg: '已是【停用】状态'
            });
            return;
        }
        $.messager.confirm({
            icon: 'question',
            title: '询问',
            width: '400px',
            @* __TIPS__*: 这里是要根据实际数据结构提示相应的信息 *@
            msg: '您确定要停用【' + selectRow.ID + '】【' + selectRow.NAME + '】？',
            fn: function (r) {
                if (r) {
                    $.ajax({
                        @* __TIPS__: 这里是提交数据的地址地址，最好使用同名，如果用绝地址就用@Url.Action("函数", "控制器") 的方式 *@
                        url: "ActionChangeState",
                        data: {
                            @* __TIPS__: 根据实际数据结构传入主键 *@
                            "OBJECT_ID": selectRow.ID,
                            "state":1
                        },
                        success:function(data) {
                            console.log(data);
                            if (data.success) {
                                $('#cmpDG').datagrid("reload");
                            }
                            else {
                                $.messager.alert({
                                    icon: 'error',
                                    title: '提示',
                                    msg: data.message
                                });
                            }
                        },
                        error: function (data) {

                        }
                    });
                }
            }
        });
    }

    function btnEnableEvent() {
        var selectRow = $('#cmpDG').datagrid("getSelected");
        if (selectRow == null || selectRow == undefined) {
            $.messager.alert({
                icon: 'warning',
                title: '提示',
                msg: '请选择一条要 【启用】 的记录'
            });
            return;
        }
        if (selectRow.DISABLED == 0) {
            $.messager.alert({
                icon: 'warning',
                title: '提示',
                msg: '已是【启用】状态'
            });
            return;
        }
        $.ajax({
            url: "ActionChangeState",
            data: {
                @* __TIPS__: 根据实际数据结构传入主键 *@
                "OBJECT_ID": selectRow.ID,
                "state":0
            },
            success:function(data) {
                console.log(data);
                if (data.success) {
                    $('#cmpDG').datagrid("reload");
                }
                else {
                    $.messager.alert({
                        icon: 'error',
                        title: '提示',
                        msg: data.message
                    });
                }
            },
            error: function (data) {
                alert(data);
            }
        });
    }

    $('#cmpDG').datagrid({
        url: 'JsonDataList',
        singleSelect:true,
        pagination: true,
        rownumbers: true,
        remoteSort: true,
        striped: true,
        onDblClickRow: function (index, field, value) {
            $("#stdBtnEdit").click();
        },
        //toolbar: "#cmpDgToolBar",
        @* __TIPS__*: 以下同表格中显示的每列的配置信息 *@
        columns: [[
            { field: 'NAME', title: '单位名称', width: 180 },
            { field: 'COMPANY_CODE', title: '单位编号', width: 120 },
            { field: 'TEL1', title: '电话1', width: 150 },
            { field: 'TEL2', title: '电话2', width: 150 },
            { field: 'FAX', title: '传真号码', width: 150 },
            { field: 'ADDR_WORKING', title: '办公地址', width: 270 },
            {
                field: 'DISABLED', title: '状态', width: 70, align: 'center', sortable: true,
                formatter: function (d) {
                    if (d == 1)
                        return '<span class="label label-danger" >停用</span>';
                    else
                        return '<span class="label label-success">启用</span>';
                }
            },
        ]],
        onClickCell: function (index, field, value){

        }
    });

    //初始化分页栏按钮,增加导出Excel功能
    var pager = $("#cmpDG").datagrid().datagrid('getPager')
    pager.pagination({
        buttons: [{
            text: '导出',
            iconCls: 'icon-table-export',
            handler: function () {
                ef3.datagridToExcel("#cmpDG");
            }
        }]
    });  
</script>

