<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!-- server_type:数据库类型，可选项 sqlserver、oracle、mysql、sqlite、access -->
  <add name="server_type" connectionString="oracle" />
  <add name="sqlserver" connectionString="Server=(local);Initial Catalog=MisFramework;User ID=sa;Password=wuwengao"/>
  <add name="oracle" connectionString="Data Source=WWGORCL;Persist Security Info=True;User ID=locale;Password=123"/>
</connectionStrings>