<?xml version="1.0" encoding="utf-8" ?>
<objects xmlns="http://www.springframework.net">
  <object id="db_table_dic_map_config" type="MisFrameWork.core.UnCaseSenseHashTable">
    <property name="['S_ORGANIZATION2']" value="ORGANIZATION_ID:VD_ORGANIZATION"/>
    <property name="['B_ORGANIZATION_PEOPLE2']" value="ORGANIZATION_ID:VD_ORGANIZATION,GENDER:D_GENDER,LXR1_GX:D_GX,LXR2_GX:D_GX,LXR3_GX:D_GX,LXR4_GX:D_GX"/>
    <property name="['S_USERS2']" value="ORGANIZATION_ID:V_S_ORGANIZATION"/>
    <property name="['B_SERVICE_INCOME2']" value="PAY_TYPE:D_PAY_TYPE,SERVICE_TYPE:D_SERVICE_TYPE"/>
  </object>
</objects>