<?xml version="1.0" encoding="utf-8" ?>
<root>
  <dic>
    <DEFAULT dm="代码" dmsize="2" dmreadonly="false" mc="名称" mcsize="20" mcreadonly="false" py="拼音" pysize="20" pyreadonly="false" allowadd="true" allowedit="false" allowdel="false"></DEFAULT>
    <I dname="Z_XB" name="故障类别字典表" dmsize="2" mcsize="50"></I>
  </dic>
</root>