<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <log4net>
    <!-- Define some output appenders -->
    <appender name="debugFile" type="log4net.Appender.RollingFileAppender,log4net">
      <param name="File" value="..\log\nh_debug_log.txt" />
      <param name="AppendToFile" value="true" />
      <param name="RollingStyle" value="Date" />
      <param name="DatePattern" value="yyyy.MM.dd" />
      <param name="StaticLogFileName" value="true" />
      <filter type="log4net.Filter.LoggerMatchFilter,log4net">
        <param name="AcceptOnMatch" value="true" />
        <param name="LoggerToMatch" value="WebCore." />
      </filter>
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="DEBUG" />
        <param name="LevelMax" value="DEBUG" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter"></filter>
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="=================%n[%d][%t]:[%c]%n %m%n=================%n%n"></param>
      </layout>
    </appender>
    <appender name="errorFile" type="log4net.Appender.RollingFileAppender,log4net">
      <param name="File" value="..\log\nh_error_log.txt" />
      <param name="AppendToFile" value="true" />
      <param name="RollingStyle" value="Date" />
      <param name="DatePattern" value="yyyy.MM.dd" />
      <param name="StaticLogFileName" value="true" />
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="ERROR" />
        <param name="LevelMax" value="ERROR" />
      </filter>
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%n%n==========开始==============%n%d [%t] %-5p %c [%x]  %X{auth}   - %m%n %n%n======================%n" />
      </layout>
    </appender>

    <appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">
      <bufferSize value="2" />
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=2.0.0.0, Culture=Neutral, PublicKeyToken=b77a5c561934e089" />
      <connectionString value="Data Source=(local);Initial Catalog=MisFramework3;uid=sa;password=123456" />
      <commandText value="INSERT INTO FW_S_SYS_LOG ([CREATE_TIME],[Thread],[LOG_Level],[Logger],[Message],[Exception]) VALUES (@log_date, @thread, @log_level, @logger, @message, @exception)" />
      <parameter>
        <parameterName value="@log_date" />
        <dbType value="DateTime" />
        <layout type="log4net.Layout.RawTimeStampLayout" />
      </parameter>
      <parameter>
        <parameterName value="@thread" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%thread" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@log_level" />
        <dbType value="String" />
        <size value="50" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%level" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@logger" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%logger" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@message" />
        <dbType value="String" />
        <size value="4000" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%message" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@exception" />
        <dbType value="String" />
        <size value="2000" />
        <layout type="log4net.Layout.ExceptionLayout" />
      </parameter>
    </appender>
    <!-- Setup the root category, add the appenders and set the default priority -->
    <root>
      <priority value="ALL" />
      <appender-ref ref="errorFile" />
      <appender-ref ref="debugFile" />
      <appender-ref ref="AdoNetAppender"/>
    </root>
  </log4net>
</configuration>
