<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <!-- ================== 1：开发系统相关配置 ================== -->
  <!-- 登陆提供者模式：Session、Cookie-->
  <add key="LoginProvider" value="Session" />
  <!-- 启用系统日志-->
  <add key="IsLog" value="false" />
  <!-- 数据库超时间-->
  <add key="CommandTimeout" value="180" />
  <!--启用IP过滤 -->
  <add key="IsIPFilter" value="false" />
  <!-- ================== 2：系统软件参数配置 ================== -->
  <!-- 联系我们 -->
  <add key="Contact" value="www.gzhuabiao.cn" />
  <!-- 软件名称 -->
  <add key="SoftName" value="货运安保系统" />
  <!-- 软件版本 -->
  <add key="Version" value="1.0" />
  <!-- 软件授权码 测试备用 -->
  <add key="LicenceKey" value="83eda07f-ead3-4050-bcee-4f41e57a7e16" />
  <!-- ================== 3：外部邮件参数 ================== -->
  <!-- 设置邮箱名称 -->
  <add key="MailName" value="邮件中心" />
  <!-- 设置邮箱地址 -->
  <add key="MailUserName" value="pspmiliyong@163.com" />
  <!-- 设置邮箱密码 -->
  <add key="MailPassword" value="123456" />
  <!-- 设置邮箱主机 -->
  <add key="MailHost" value="smtp.ym.163.com" />
  <!-- ================== 4：公司类型配置【测试使用】 ================== -->
  <!-- 公司类型【物流公司:JDDZC，货代公司:HDGSZC，货站:HZGSZC，其他从业单位:QTDWZC】 -->
  <add key="CompanyType" value="JDDZC" />
  <!-- 加密狗 -->
  <add key="UserKey" value="" />
  <!-- 单个文件下载路径 -->
  <add key="SingleUploadFolder" value="C:\Users\KK\Desktop"/>
  <!--================== 5：其他参数 ==================-->
  <add key="PlanFolder" value="plans"/>
  <add key="webpages:Version" value="3.0.0.0"/>
  <add key="webpages:Enabled" value="false"/>
  <add key="ClientValidationEnabled" value="true"/>
  <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
</appSettings>