
@{

}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render(new string[]
    {
        "~/Content/font-awesome.css",
        "~/Scripts/jeasyui/themes/"+Request.Cookies["theme"].Value+"/easyui.css",
        "~/Scripts/jeasyui/themes/icon.css",
        "~/Scripts/jeasyui/themes/color.css",
        "~/Scripts/kindeditor/themes/default/default.css",
        "~/Scripts/kindeditor/plugins/code/prettify.css",
        "~/Content/Site.css"
    })

    @Scripts.Render(new string[]
    {
        "~/Scripts/jquery-3.3.1.min.js",
        "~/Scripts/jquery.validate.min.js",
        "~/Scripts/moment.min.js",
        "~/Scripts/moment-with-locales.min.js",
        "~/Scripts/jeasyui/jquery.easyui.min.js",
        "~/Scripts/jeasyui/datagrid-detailview.js",
        "~/Scripts/jeasyui/locale/easyui-lang-zh_CN.js",
        "~/Scripts/kindeditor/kindeditor-all.js",
        "~/Scripts/kindeditor/lang/zh-CN.js",
        "~/Scripts/misframework3.js",
        "~/Scripts/fw_plugins/export_datagrid.js"
    })

</head>
<body class="easyui-layout">
    <div data-options="region:'north',title:'',border:false,split:false" style="margin-top:8px;overflow-y:visible;height:110px">
        <div id="cmpDgToolBar" style="overflow: hidden;overflow-y: visible">
            <div style="margin-bottom:5px;height:30px;margin-right:44px;">
                <div id="cmpDgToolBar_Left" style="float:left">
                    @if (ViewBag.HideCommonButtons == null || !ViewBag.HideCommonButtons)
                    {
                        <a id="stdBtnAdd" href="#" onclick="btnAddEvent()" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:false,disabled:@(ViewBag.DisableBTN_Add!=null && ViewBag.DisableBTN_Add?"true":"false")">增加</a>
                        <a id="stdBtnEdit" href="#" onclick="btnEditEvent()" class="easyui-linkbutton" data-options="iconCls:'icon-edit',plain:false,disabled:@(ViewBag.DisableBTN_Edit!=null && ViewBag.DisableBTN_Edit?"true":"false")">修改</a>
                        if (ViewBag.ShowDeleteButton != null && ViewBag.ShowDeleteButton)
                        {
                            <a id="stdBtnDelete" href="#" onclick="btnRemoveEvent()" class="easyui-linkbutton" data-options="iconCls:'icon-remove',plain:false,disabled:@(ViewBag.DisableBTN_Delete != null && ViewBag.DisableBTN_Delete ? "true" : "false")">删除</a>
                        }

                        if (ViewBag.ShowChangeStateButton != null && ViewBag.ShowChangeStateButton)
                        {
                            <span class="datagrid-btn-separator" style="vertical-align: middle;display:inline-block;float:none"></span>
                            <a href="#" onclick="btnDisableEvent()" class="easyui-linkbutton" data-options="iconCls:'icon-no',plain:false,disabled:@(ViewBag.DisableBTN_Disable != null && ViewBag.DisableBTN_Disable ? "true" : "false")">停用</a>
                            <a href="#" onclick="btnEnableEvent()" class="easyui-linkbutton" data-options="iconCls:'icon-ok',plain:false,disabled:@(ViewBag.DisableBTN_Enable != null && ViewBag.DisableBTN_Enable ? "true" : "false")">启用</a>
                        }
                    }
                </div>
                <div id="cmpDgToolBar_Right" style="float:right">
                    <a href="#" style="float:right;margin-right:-30px;" onclick="btnSearchEvent()" class="easyui-linkbutton" data-options="iconCls:'icon-search',plain:false">查询</a>
                    <a href="#" style="float:right;margin-right:10px;" onclick="btnClearEvent()" class="easyui-linkbutton" data-options="iconCls:'icon-search',plain:false">清空</a>
                </div>
            </div>
            <div style="margin-bottom:5px;">
                <div style="width:33%;display:inline-block">
                    <div style="width:30%;height: 29px;line-height: 28px;display:inline-block;text-align:right;">发卡人：</div>
                    <input id="EXTEND" name="EXTEND" class="easyui-textbox" style="width:67%">
                </div>
                <div style="width:33%;display:inline-block">
                    <div style="width:30%;height: 29px;line-height: 28px;display:inline-block;text-align:right;">发卡单位：</div>
                    <select id="EXTEND_ID_V_D_FW_COMP__MC" class="easyui-combobox" name="EXTEND_ID_V_D_FW_COMP__MC" style="width:67%">
                        <option value=""></option>
                    </select>
                </div>
                <div style="width:33%;display:inline-block">
                    <div style="width:30%;height: 29px;line-height: 28px;display:inline-block;text-align:right;">领卡数量：</div>
                    <input id="RECEIVE_NUMBER" name="RECEIVE_NUMBER" class="easyui-textbox" style="width:67%">
                </div>
            </div>
            <div style="margin-bottom:5px;">
                <div style="width:33%;display:inline-block">
                    <div style="width:30%;height: 29px;line-height: 28px;display:inline-block;text-align:right;">领卡人：</div>
                    <input id="RECEIVE" name="RECEIVE" class="easyui-textbox" style="width:67%">
                </div>
                <div style="width:33%;display:inline-block">
                    <div style="width:30%;height: 29px;line-height: 28px;display:inline-block;text-align:right;">领卡单位：</div>
                    <select id="RECEIVE_ID_V_D_FW_COMP__MC" class="easyui-combobox" name="RECEIVE_ID_V_D_FW_COMP__MC" style="width:67%">
                        <option value=""></option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div data-options="region:'center',title:'',border:false">
        <table id="cmpDG"></table>
    </div>
    <div id="dialogDic"></div>
    @* 组合查询*@
    @RenderBody()
</body>
</html>
<script>
    $(function () {
        $.ajax({
            type: "get",
            url: 'GetSelect',//访问后台去数据库查询select的选项
            success: function (data) {
                var data2 = eval('(' + data + ')');
                var planType = data2.planType;
                if (planType != null) { //后台传回来的select选项
                    $("#EXTEND_ID_V_D_FW_COMP__MC").combobox({
                        valueField: 'DM',
                        textField: 'MC',
                        data: planType
                    });
                }
            },
            error: function () {
                J.alert('Error');
            }
        })
    });
    $(function () {
        $.ajax({
            type: "get",
            url: 'GetSelect',//访问后台去数据库查询select的选项
            success: function (data) {
                var data2 = eval('(' + data + ')');
                var planType = data2.planType;
                if (planType != null) { //后台传回来的select选项
                    $("#RECEIVE_ID_V_D_FW_COMP__MC").combobox({
                        valueField: 'DM',
                        textField: 'MC',
                        data: planType
                    });
                }
            },
            error: function () {
                J.alert('Error');
            }
        })
    });
    function btnClearEvent() {
        $("#EXTEND").textbox('setValue', "");
        $("#EXTEND_ID_V_D_FW_COMP__MC").textbox('setValue', "");
        $("#RECEIVE_NUMBER").textbox('setValue', "");
        $("#RECEIVE").textbox('setValue', "");
        $("#RECEIVE_ID_V_D_FW_COMP__MC").textbox('setValue', "");
    }

    var params2 = {};
    function btnSearchEvent() {
        var params = {};
        params.EXTEND = $("#EXTEND").textbox("getValue");
        params.EXTEND_ID = $("#EXTEND_ID_V_D_FW_COMP__MC").textbox("getValue");
        params.RECEIVE_NUMBER = $("#RECEIVE_NUMBER").textbox("getValue");
        params.RECEIVE = $("#RECEIVE").textbox("getValue");
        params.RECEIVE_ID = $("#RECEIVE_ID_V_D_FW_COMP__MC").textbox("getValue");
        @if (ViewBag.DateRangeType != null)
        {
        <text>
        params.date_range_type = $("#date_range_type").combobox("getValue");
        params.start_date = $("#start_date").datebox("getValue");
        params.end_date = $("#end_date").datebox("getValue");
        </text>
        }
        console.log("查询条件：" + JSON.stringify(params));
        $('#cmpDG').datagrid("load", params);

        params2.EXTEND = $("#EXTEND").textbox("getValue");
        params2.EXTEND_ID = $("#EXTEND_ID_V_D_FW_COMP__MC").textbox("getValue");
        params2.RECEIVE_NUMBER = $("#RECEIVE_NUMBER").textbox("getValue");
        params2.RECEIVE = $("#RECEIVE").textbox("getValue");
        params2.RECEIVE_ID = $("#RECEIVE_ID_V_D_FW_COMP__MC").textbox("getValue");
    }
    $(function () {
        $('#search').textbox('textbox').keydown(function (e) {
            if (e.which == 13) {
                btnSearchEvent();
                return false;
            }
        });

        $('#cmpDG').datagrid('resize', { height: 430 });
    })
</script>

