
@{
    ViewBag.Title = "ViewFormAdd";
}
<div style="padding:10px">
    <form id="formData" method="post" action="ActionAdd" enctype="multipart/form-data">
        @* __TIPS__ 输入元素尽量统一为两列以内，宽度要与Index 打开的窗体宽度对应*@
        <div style="margin-bottom:5px;">
            <input id="NAME" name="NAME" class="easyui-textbox" data-options="width:'96%',labelWidth:120,iconCls:'icon-man',label:'名称：',labelAlign:'right',required:true">
        </div>
        <div style="margin-bottom:5px;">
            <input id="AGE" name="AGE" class="easyui-numberspinner" data-options="width:'48%',labelWidth:120,label:'数值控件：',labelAlign:'right',min:10,max:100,editable:true">
            <input id="EMAIL" name="EMAIL" class="easyui-textbox" data-options="width:'48%',labelWidth:120,label:'邮箱格式：',labelAlign:'right',validType:['email'],required:false,">
        </div>
        <div style="margin-bottom:5px;">
            <input id="S_DIC1" name="S_DIC1" class="easyui-dicshort" data-options="width:'48%',labelWidth:120,label:'短字典控件1：',labelAlign:'right',
                       url: 'JsonDicShort?dic=D_MZ',
                       multiple: false,
                       required:false">
            <input id="S_DIC2" name="S_DIC2" class="easyui-dicshort" data-options="width:'48%',labelWidth:120,label:'短字典控件2：',labelAlign:'right',
                       url: 'JsonDicShort?dic=D_NY',
                       multiple: false,
                       required:false">
        </div>
        <div style="margin-bottom:5px;">
            <input id="S_DICM" name="S_DICM" class="easyui-dicshort" data-options="width:'96%',labelWidth:120,label:'短字典(多选)：',labelAlign:'right',
                       url: 'JsonDicShort?dic=D_MZ',
                       multiple: true,
                       required:false">
        </div>
        <div style="margin-bottom:5px;">
            <input id="L_DIC1" name="L_DIC1" class="easyui-diclarge" data-options="width:'48%',labelWidth:120,label:'长字典（单选）：',labelAlign:'right',required:false,
                       title: '窗体标题1',
                       dic_json_url:'JsonDicLarge?comma_is_or=true&dic=D_MZ',
                       dic_view_url:'ViewDicLargeUI?dic=D_MZ',
                       dic_multiple_value:false
                       ">
            <input id="L_DIC2" name="L_DIC2" class="easyui-diclarge" data-options="width:'48%',labelWidth:120,label:'长字典（多选）：',labelAlign:'right',required:false,
                       title: '窗体标题2',
                       dic_json_url:'JsonDicLarge?comma_is_or=true&dic=D_MZ',
                       dic_view_url:'ViewDicLargeUI?dic=D_MZ',
                       dic_multiple_value:true
                       ">
        </div>
        <div style="margin-bottom:5px;">
            <input id="COMPANY_ID" name="COMPANY_ID" class="easyui-diclarge" data-options="width:'96%',labelWidth:120,label:'自定义字典界面：',labelAlign:'right',required:false,
                       title: '自定义字典界面',
                       dic_json_url:'JsonDicLarge?comma_is_or=true&dic=V_D_FW_COMPANIES',
                       dic_view_url:'ViewDicLargeUI?true&dic=V_D_FW_COMPANIES',
                       dic_multiple_value:false
                       ">
        </div>
        <div style="margin-bottom:5px;">
            <input id="REG_DATE" name="REG_DATE" class="easyui-datebox" data-options="width:'48%',labelWidth:120,label:'日期控件：',labelAlign:'right',required:false,">
            <input id="REG_DATE_TIME" name="REG_DATE_TIME" class="easyui-datetimebox" data-options="width:'48%',labelWidth:120,label:'日期时间控件：',labelAlign:'right',required:false,"
                   showSeconds: false>
        </div>
        <div class="easyui-panel" title="富文本内容" data-options="width:'96%'" style="margin-bottom:5px;">
            <textarea id="CONTEXT" name="CONTEXT">
            </textarea>
        </div>
    </form>
</div>
<script>
    function btnForm_OK_Click_Event(e) {
        console.log($('#formData').serialize());
        $('#formData').form('submit', {
            onSubmit: function (d) {
                var isValid = $(this).form('validate');
                if (!isValid) {
                    return false;
                }
                @* __TIPS__:这里可以把Form以外的一些值添加到服务器 *@
                //d.OPERATE = "2";
                return true;
            },
            success: function (data) {
                var data = eval('(' + data + ')');  // change the JSON string to javascript object
                if (!data.success) {
                    $.messager.alert(
                        {
                            icon: 'error',
                            title: '提示',
                            msg: data.message
                        });
                }
                else {
                    $.messager.alert(
                        {
                            title: '提示',
                            msg: '保存成功！',
                            fn: function () {
                                $('#cmpDG').datagrid("reload");
                                $('#winMainForm').dialog("close");
                            }
                        }
                    );
                }
            }
        });
    }
    $(function () {
        $("#btnForm_OK").bind('click', btnForm_OK_Click_Event);
        @*
            __TIPS__ *: 不使用富文本框，请删除以下代码
        *@
        KindEditor.create("#CONTEXT", {
            height: 320,
            width: '100%',
            uploadJson: "@Url.Action("JsonUploadFile", "FWServices", new { area = "" })",
            fileManagerJson: "@Url.Action("JsonUploadFileManager", "FWServices",new { area = "" })",
            allowFileManager: true,
            afterUpload: function () { this.sync(); },
            afterBlur: function () { this.sync(); }
        });
    })
</script>


