
@{
}
<div style="padding:10px">
    <form id="formData" method="post" action="ActionEdit" enctype="multipart/form-data">
        @* __TIPS__ 输入元素尽量统一为两列以内，宽度要与Index 打开的窗体宽度对应*@
        <input type="hidden" id="OBJECT_ID" name="OBJECT_ID" value="" /> @* 不要使用实际的主键 *@
        <input type="hidden" id="VER" name="VER" value="" /> @* 版本字段，建议保留不影使用 *@
        <div style="max-height:500px">
            @* __TIPS__ 以下这些界面元素，可以从Add窗体中复制过来*@
            <div style="margin-bottom:5px;">
                <input id="ZZY_NAME" name="ZZY_NAME" class="easyui-textbox" data-options="width:'96%',labelWidth:170,label:'制证员名称：',labelAlign:'right',required:true">
            </div>
            <div style="margin-bottom:5px;">
                <input id="SSDW" name="SSDW" class="easyui-diclarge" data-options="width:'96%',labelWidth:170,label:'所属单位：',labelAlign:'right',required:false,
                       title: '所属单位',
                       dic_json_url:'JsonDicLarge?comma_is_or=true&dic=V_D_FW_COMP',
                       dic_view_url:'ViewDicLargeUI?dic=V_D_FW_COMP',
                       dic_multiple_value:false
                       ">
            </div>
        </div>
    </form>
</div>
<script>
    function btnForm_OK_Click_Event(e) {
        console.log($('#formData').serialize());
        $('#formData').form('submit', {
            onSubmit: function (d) {
                //KindEditor("#CONTEXT").sync();
                var isValid = $(this).form('validate');
                if (!isValid) {
                    return false;
                }
                @* __TIPS__: 这里可以把Form以外的一些值添加到服务器 *@
                //d.OPERATE = "2";
                return true;
            },
            success: function (data) {
                var data = eval('(' + data + ')');  // change the JSON string to javascript object
                if (!data.success) {
                    $.messager.alert({
                        icon: 'error',
                        title: '提示',
                        width: 300,
                        msg: data.message
                        });
                }
                else {
                    $.messager.alert({
                        icon: 'info',
                        title: '提示',
                        msg: '修改成功！',
                        fn: function () {
                            var opt = $('#winMainForm').dialog("options");
                            opt.dg.datagrid("reload");
                            $('#winMainForm').dialog("close");
                        }
                    });
                }
            }
        });
    }

    @* 绑定窗体外按钮的事件，按钮名称要与Index里的对应 *@
    $(function () {
        $("#btnForm_OK").bind('click', btnForm_OK_Click_Event);
        //加载录入内容
        @*
            __TIPS__:这里修改加载数据的地址,可以使用绝对地址的方式【@Url.Action("JsonDataList", "Roles")】
        *@
        $.getJSON("JsonDataList?id=" + $("#OBJECT_ID").val(), function (data) {
            console.log(data);
            if (data.rows == undefined) {
                $.messager.alert({
                    icon: 'error',
                    title: '错误',
                    msg: "没有查到相应记录【" + $("#OBJECT_ID").val() + "】"
                });
                return;
            }
            $('#formData').form("load", data.rows[0]);
            $("[type='hidden']").change();//__TIPS__:hidden控件改变后无法触发change事件，所以要单独处理，否则可能会影响某些控件的使用。
        });

    });

</script>


